@charset "utf-8";

/* CSS Document */
/*灰色提示弹窗*/
.toolTipBox {
    position: fixed;
    padding: 0 24px;
    height: 48px;
    background: rgba(79, 87, 98, 0.98);
    border-radius: 8px;
    line-height: 48px;
    color: #fff;
    font-size: 14px;
    top: 50%;
    margin-top: -24px;
    left: 45%;
    z-index: 10
}

.popicon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.popicon img {
    width: 100%;
    height: 100%;
    float: left
}

.loadicon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 10px;
}

.loadicon img {
    width: 100%;
    height: 100%
}

.maskDiv {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(16, 26, 41, 0.76);
    z-index: 10
}

.wid440 {
    width: 440px;
    max-height: 360px
}

.wid480 {
    width: 480px;
}

.wid1200 {
    width: 1200px;
}

.wid400 {
    width: 400px;
}

.wid560 {
    width: 560px;
}

.wid500 {
    width: 500px;
}

.wid640 {
    width: 640px;
}

.wid840 {
    width: 840px;
}

.wid472 {
    width: 472px;
}

.wid480 {
    width: 480px;
}
.popDiv {
    min-height: 100px;
    background: #FFFFFF;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 10;
}

.popHead {
    height: 53px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 rgba(242, 242, 242, 0.80);
    width: 100%;
    padding: 13px 30px 20px 30px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    overflow: hidden;
}

.popuHead {
    height: 53px;
    background: #FFFFFF;
    box-shadow: inset 0 -1px 0 0 rgba(242, 242, 242, 0.80);
    width: 100%;
    padding: 13px 30px 20px 30px;
    box-sizing: border-box;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.02);
    overflow: hidden;
}

.popClose {
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.colorDeep {
    font-family: 'PingFang SC';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.popBottom {
    width: 100%;
    height: 63px;
    background: #fff;
    padding-top: 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.popuBottom {
    width: 100%;
    height: 63px;
    background: #fff;
    padding-top: 17px;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.popBottom a {
    margin-right: 30px;
}

.popWord {
    padding: 26px 30px;
}

.maskLayer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.48);
}